In [3]:
import pandas as pd

dow_jones = pd.read_csv('^DJI.csv')
dow_jones

,Date,Open,High,Low,Close,Adj Close,Volume
0,1985-01-29,1277.719971,1295.489990,1266.890015,1292.619995,1292.619995,13560000
1,1985-01-30,1297.369995,1305.099976,1278.930054,1287.880005,1287.880005,16820000
2,1985-01-31,1283.239990,1293.400024,1272.640015,1286.770020,1286.770020,14070000
3,1985-02-01,1276.939941,1286.109985,1269.770020,1277.719971,1277.719971,10980000
4,1985-02-04,1272.079956,1294.939941,1268.989990,1290.079956,1290.079956,11630000
...,...,...,...,...,...,...,...
8867,2020-04-03,21285.929688,21447.810547,20863.089844,21052.529297,21052.529297,450010000
8868,2020-04-06,21693.630859,22783.449219,21693.630859,22679.990234,22679.990234,610760000
8869,2020-04-07,23537.439453,23617.240234,22634.449219,22653.859375,22653.859375,594660000
8870,2020-04-08,22893.470703,23513.400391,22682.990234,23433.570313,23433.570313,472740000
8871,2020-04-09,23690.660156,24008.990234,23504.089844,23719.369141,23719.369141,566400000

In [5]:
snp_500 = pd.read_csv('^GSPC.csv', usecols = [])
snp_500

,Date,Open,High,Low,Close,Adj Close,Volume
0,1927-12-30,17.660000,17.660000,17.660000,17.660000,17.660000,0
1,1928-01-03,17.760000,17.760000,17.760000,17.760000,17.760000,0
2,1928-01-04,17.719999,17.719999,17.719999,17.719999,17.719999,0
3,1928-01-05,17.549999,17.549999,17.549999,17.549999,17.549999,0
4,1928-01-06,17.660000,17.660000,17.660000,17.660000,17.660000,0
...,...,...,...,...,...,...,...
23173,2020-04-03,2514.919922,2538.179932,2459.959961,2488.649902,2488.649902,6087190000
23174,2020-04-06,2578.280029,2676.850098,2574.570068,2663.679932,2663.679932,6391860000
23175,2020-04-07,2738.649902,2756.889893,2657.669922,2659.409912,2659.409912,7040720000
23176,2020-04-08,2685.000000,2760.750000,2663.300049,2749.979980,2749.979980,5856370000
23177,2020-04-09,2776.989990,2818.570068,2762.360107,2789.820068,2789.820068,7880140000

In [6]:
small_business = pd.read_csv('SSBCI Transactions Dataset (1).csv')
small_business

,state_id,state_name,year_reported,program_name,program_type,unique_id,disbursement_date,loan_investment_amount,ssbci_original_funds,nonprivate_amount,...,optional_revenue,optional_revenue_yr_confirmed,optional_active,optional_active_no,optional_active_unknown,optional_dollars_lost,optional_business_city,optional_business_state,optional_coinvestment_source,optional_stage
0,AK,Alaska - Anchorage,2013,49th State Venture Fund,Venture Capital,AK_2013_VCP_1,3/1/2013,180000.00,90000.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,AK,Alaska - Anchorage,2013,49th State Venture Fund,Venture Capital,AK_2013_VCP_2,7/13/2013,2400000.00,250000.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,AK,Alaska - Anchorage,2013,49th State Venture Fund,Venture Capital,AK_2013_VCP_3,12/30/2013,265000.00,110000.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,AK,Alaska - Anchorage,2014,49th State Venture Fund,Venture Capital,AK_2014_VCP_1,4/11/2014,199500.00,99750.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,AK,Alaska - Anchorage,2014,49th State Venture Fund,Venture Capital,AK_2014_VCP_2,5/15/2014,125000.00,62500.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
21957,WY-L,Wyoming - Laramie,2016,Credit Guarantee Program,Collateral Support,WY-L_2016_CSP_14,10/12/2016,2860533.00,0.0,0.0,...,4984313.0,2016.0,Yes,NaN,NaN,0.0,Cheyenne,WY-L,NaN,NaN
21958,WY-L,Wyoming - Laramie,2016,Credit Guarantee Program,Collateral Support,WY-L_2016_CSP_15,10/19/2016,600000.00,0.0,0.0,...,870036.0,2016.0,Yes,NaN,NaN,0.0,Casper,WY-L,NaN,NaN
21959,WY-L,Wyoming - Laramie,2016,Credit Guarantee Program,Collateral Support,WY-L_2016_CSP_16,10/21/2016,1188000.00,0.0,0.0,...,487271.0,2016.0,Yes,NaN,NaN,0.0,Sundance,WY-L,NaN,NaN
21960,WY-L,Wyoming - Laramie,2016,Credit Guarantee Program,Collateral Support,WY-L_2016_CSP_17,11/23/2016,155000.00,0.0,0.0,...,0.0,2016.0,Yes,NaN,NaN,0.0,Casper,WY-L,NaN,NaN
21961,WY-L,Wyoming - Laramie,2016,Credit Guarantee Program,Collateral Support,WY-L_2016_CSP_18,11/30/2016,198317.96,47500.0,0.0,...,NaN,NaN,No,Other,NaN,0.0,Rawlins,WY-L,NaN,NaN

In [10]:
quarter_gdp = pd.read_csv('quarter_csv.csv')
quarter_gdp

           date  level-current  level-chained  change-current  change-chained
0    1947-04-01          246.3         1932.3             6.4            -0.4
1    1947-07-01          250.1         1930.3            17.3             6.4
2    1947-10-01          260.3         1960.7             9.3             6.0
3    1948-01-01          266.2         1989.5            10.5             6.7
4    1948-04-01          272.9         2021.9            10.0             2.3
..          ...            ...            ...             ...             ...
276  2016-04-01        18538.0        16663.5             4.2             2.8
277  2016-07-01        18729.1        16778.1             3.8             1.8
278  2016-10-01        18905.5        16851.4             3.3             1.2
279  2017-01-01        19057.7        16903.2             4.1             3.1
280  2017-04-01        19250.0        17031.1             5.2             3.0

[281 rows x 5 columns]

In [11]:
year_gdp = pd.read_csv('year_csv.csv')
year_gdp

    date  level-current  level-chained  change-current  change-chained
0   1930           92.2          966.7           -16.0            -6.4
1   1931           77.4          904.8           -23.1           -12.9
2   1932           59.5          788.2            -4.0            -1.3
3   1933           57.2          778.3            16.9            10.8
4   1934           66.8          862.2            11.1             8.9
..   ...            ...            ...             ...             ...
81  2011        15517.9        15020.6             4.1             2.2
82  2012        16155.3        15354.6             3.3             1.7
83  2013        16691.5        15612.2             4.4             2.6
84  2014        17427.6        16013.3             4.0             2.9
85  2015        18120.7        16471.5             2.8             1.5

[86 rows x 5 columns]